<% layout("/layouts/boilerplate")%>
<body>
  <style>
    #filter {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  
    .filters {
      text-align: center;
      margin-right: 2rem;
      margin-top: 2rem;
      opacity: 0.5;
    }
  
    .filters:hover {
      opacity: 1;
      cursor: pointer;
    }
  
    .filters div {
      margin-bottom: 0.5rem; /* Added spacing between icon and text */
    }
  
    .p {
      font-size: 0.8rem;
    }

    .tax-info{
      display: none;

    }

    .text-toggle{
      border: 1px solid black;
      border-radius: 1rem;
      height: 3.5rem;
      padding: 1rem;

    }
  </style>
  
  <!-- Replace with appropriate FontAwesome icons -->
  <div id="filter">
    <div class="filters">
      <div><i class="fas fa-fire"></i></div>
      <p>Trending</p>
    </div>
  
    <div class="filters">
      <div><i class="fas fa-bed"></i></div>
      <p>Room</p>
    </div>
  
    <div class="filters">
      <div><i class="fas fa-city"></i></div>
      <p>Iconic City</p>
    </div>
  
    <div class="filters">
      <div><i class="fas fa-mountain"></i></div>
      <p>Mountains</p>
    </div>
  
    <div class="filters">
      <div><i class="fas fa-fort-awesome"></i></div>
      <p>Castles</p>
    </div>
  
    <div class="filters">
      <div><i class="fas fa-swimmer"></i></div>
      <p>Amazing Pools</p>
    </div>
  
    <div class="filters">
      <div><i class="fas fa-campground"></i></div>
      <p>Camping</p>
    </div>
  
     <div class="filters">
      <div><i class="fas fa-snowflake"></i></div>
      <p>Snow</p>
    </div>
   <!-- <div class="filters">
      <div><i class="fas fa-palette"></i></div>
      <p>Design</p>
    </div>
  
    <div class="filters">
      <div><i class="fas fa-water"></i></div>
      <p>Surfing</p>
    </div>
  
    <div class="filters">
      <div><i class="fas fa-water"></i></div>
      <p>Lakes</p>
    </div> -->
  
  <div class="text-toggle">
    <div class="form-check-reverse form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
      <label class="form-check-label" for="flexSwitchCheckDefault">Display total after Taxes</label>
    </div>
    </div>


  </div>
     <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
        <%for (let listing of alllistings ){%>
            <a href="/listings/<%=listing._id%>" class="listing-link">
            <div class="card col listing-card" >
                <img src="<%=listing.image.url%>" class="card-img-top" alt="listing_image" style="height: 20rem" >
                <div class="card-img-overlay"></div>
                <div class="card-body">
                  <p class="card-text">
                  <b>  <%= listing.title %> </b> <br>
                    &#8377;<%= listing.price.toLocaleString("en-IN") %> / night 
                    <i class="tax-info"> &nbsp;&nbsp; +18% GST</i>
                </p>
                </div>
              </div>
              <%}%>
           </a>

    </div>
 
</body>



<script>
let taxSwitch = document.getElementById("flexSwitchCheckDefault");
taxSwitch.addEventListener("click",()=>{
  let taxInfo = document.getElementsByClassName("tax-info");
  for(info of taxInfo){
if(info.style.display != "inline"){
  info.style.display = "inline";

}
else{
  info.style.display = "none";

}
  }
})
</script>